html{background-color: black;}
h1{ text-align: center; color: rgb(241, 231, 231); text-transform: uppercase; font-family:' libre baskerville',serif;}
img{ border:5px solid white  ; width: 100%;}
#mar{ width: 50%; margin-left: 25%;}
p{color: white; text-align: center;}